/* line 2, ../compass/sass/animation.scss */
.ng-enter, .ng-leave {
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 7, ../compass/sass/animation.scss */
.right.ng-enter {
  -moz-animation-name: fadeInRight;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* line 11, ../compass/sass/animation.scss */
.right.ng-leave {
  -moz-animation-name: fadeOutLeft;
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

/* line 15, ../compass/sass/animation.scss */
.left.ng-enter {
  -moz-animation-name: fadeInLeft;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* line 19, ../compass/sass/animation.scss */
.left.ng-leave {
  -moz-animation-name: fadeOutRight;
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

/* line 23, ../compass/sass/animation.scss */
.bouncer.ng-enter {
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* line 27, ../compass/sass/animation.scss */
.bouncer.ng-leave {
  -moz-animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
