/*-------------------------------------------*\
	$VARIABLE
/*-------------------------------------------*/
/*-------------------------------------------*\
	$GLOBAL
/*-------------------------------------------*/
/* line 18, ../compass/sass/app.scss */
body {
  background-color: #444444;
}

/* line 21, ../compass/sass/app.scss */
.app-content {
  padding-top: 66px;
}

/* line 24, ../compass/sass/app.scss */
.no-padding {
  padding: 0 0 0 0;
}

/* line 28, ../compass/sass/app.scss */
.rate {
  font-size: 0.8em;
}

/*-------------------------------------------*\
	$HEADER
/*-------------------------------------------*/
/* line 35, ../compass/sass/app.scss */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  background-color: #2c3e50;
  z-index: 1000;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 47, ../compass/sass/app.scss */
.header a {
  color: #FFF;
}
/* line 50, ../compass/sass/app.scss */
.header a:hover,
.header a.active {
  text-decoration: none;
  color: #18bc9c;
}

/* line 58, ../compass/sass/app.scss */
.header.sticky {
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  background: #efc47D;
  text-align: left;
  padding-left: 20px;
}

/* line 67, ../compass/sass/app.scss */
.header-logo {
  font-weight: bold;
  text-indent: -9999px;
  float: left;
  background-image: url('/../img/illspots-logo.png?1414666268');
  background-color: #18bc9c;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 70px;
}

/* line 80, ../compass/sass/app.scss */
.header-back {
  position: absolute;
  top: 0px;
  left: 3px;
  display: none;
}

/* line 87, ../compass/sass/app.scss */
.header-action {
  display: inline-block;
  float: right;
  margin-left: 2px;
  height: 100%;
  padding: 0px 15px;
  background-color: #233140;
}
/* line 94, ../compass/sass/app.scss */
.header-action span {
  vertical-align: middle;
  line-height: inherit;
  margin: 0px 5px;
}

/* line 101, ../compass/sass/app.scss */
.red {
  background: #F0F;
}

/* line 105, ../compass/sass/app.scss */
.blue {
  background: #F00;
}

/*-------------------------------------------*\
	$MENU
/*-------------------------------------------*/
/* line 112, ../compass/sass/app.scss */
.menu {
  float: left;
}
/* line 114, ../compass/sass/app.scss */
.menu a {
  display: inline-block;
  margin: 0 10px;
}

/* line 120, ../compass/sass/app.scss */
a.menu-profil {
  display: none;
}

/*-------------------------------------------*\
	$VIEW
/*-------------------------------------------*/
/* line 127, ../compass/sass/app.scss */
.view {
  overflow: hidden;
  position: absolute;
  top: 65px;
  width: 100%;
}

/*-------------------------------------------*\
	$POST
/*-------------------------------------------*/
/* line 137, ../compass/sass/app.scss */
.post {
  background-color: #FFF;
  padding-top: 10px;
  position: relative;
}

/* line 143, ../compass/sass/app.scss */
.post-avatar {
  width: 100%;
  max-width: 80px;
  margin-top: 7px;
}

/* line 149, ../compass/sass/app.scss */
.post-author {
  font-weight: bold;
  font-size: 1em;
}

/* line 154, ../compass/sass/app.scss */
.post-date {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 0.8em;
  color: #C5C5C5;
}

/* line 162, ../compass/sass/app.scss */
.post-descr {
  font-size: 0.8em;
}

/* line 166, ../compass/sass/app.scss */
.post-subtitle {
  font-size: 0.8em;
  color: #C5C5C5;
}

/* line 171, ../compass/sass/app.scss */
.post-foot {
  background-color: #E8E8E8;
  margin-top: 7px;
}

/* line 176, ../compass/sass/app.scss */
.post-foot-btn {
  text-align: center;
  color: #FFF;
  display: inline-block;
  padding: 10px 0px;
  border-right: solid 1px #E8E8E8;
  border-left: solid 1px #E8E8E8;
  background-color: #C5C5C5;
}

/* line 186, ../compass/sass/app.scss */
.post-foot-btn.active {
  color: #FFF;
  background-color: #18bc9c;
}

/* line 191, ../compass/sass/app.scss */
.post-foot-link {
  font-size: 0.8em;
  margin-right: 5px;
  margin-top: 10px;
  display: inline-block;
}

/*-------------------------------------------*\
  $RESPONSIVE
/*-------------------------------------------*/
@media only screen and (max-width: 750px) {
  /*-----------------------*\
    $global
  /*-----------------------*/
  /* line 210, ../compass/sass/app.scss */
  .app-container,
  .app-pusher {
    height: 100%;
  }

  /* line 214, ../compass/sass/app.scss */
  .app-container {
    overflow: hidden;
  }

  /* line 217, ../compass/sass/app.scss */
  .app-pusher {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 221, ../compass/sass/app.scss */
  .app-content {
    position: absolute;
    top: 66px;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }

  /* line 232, ../compass/sass/app.scss */
  .with-sidebar .app-pusher {
    -moz-transform: translateX(-230px);
    -ms-transform: translateX(-230px);
    -webkit-transform: translateX(-230px);
    transform: translateX(-230px);
  }
  /* line 233, ../compass/sass/app.scss */
  .with-sidebar .app-cache {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  /*-----------------------*\
    $header
  /*-----------------------*/
  /* line 246, ../compass/sass/app.scss */
  .header {
    position: static;
    height: 65px;
  }

  /* line 250, ../compass/sass/app.scss */
  .header-icon {
    position: relative;
    display: block;
    float: right;
    width: 50px;
    height: 65px;
    cursor: pointer;
  }
  /* line 258, ../compass/sass/app.scss */
  .header-icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    height: 0;
    top: 15px;
    left: 15px;
    -moz-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    -webkit-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
  }

  /* line 269, ../compass/sass/app.scss */
  .header-logo {
    background-size: 33px;
  }

  /* line 273, ../compass/sass/app.scss */
  .header-action-label {
    display: none;
  }

  /* line 276, ../compass/sass/app.scss */
  .header-back {
    display: block;
  }

  /*-----------------------*\
    $menu
  /*-----------------------*/
  /* line 282, ../compass/sass/app.scss */
  .menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #FFF;
    width: 230px;
    -moz-transform: translateX(230px);
    -ms-transform: translateX(230px);
    -webkit-transform: translateX(230px);
    transform: translateX(230px);
  }
  /* line 291, ../compass/sass/app.scss */
  .menu a {
    color: #494949;
    display: block;
    height: 40px;
    text-indent: 5px;
    line-height: 40px;
    margin: 0;
    border-bottom: solid 1px #E2E2E2;
  }
  /* line 301, ../compass/sass/app.scss */
  .menu a span {
    margin-right: 34px;
  }
  /* line 305, ../compass/sass/app.scss */
  .menu a.active,
  .menu a:hover {
    color: #494949;
    background-color: #E8E8E8;
  }

  /* line 312, ../compass/sass/app.scss */
  .menu-profil {
    min-height: 60px;
    overflow: hidden;
    display: block;
    background-color: #E8E8E8;
  }
  /* line 318, ../compass/sass/app.scss */
  .menu-profil img {
    width: 40px;
    float: left;
    margin: 10px 5px;
  }
  /* line 323, ../compass/sass/app.scss */
  .menu-profil span {
    width: 125px;
    font-size: 12px;
    margin: 10px 0px 5px 0px;
  }

  /* line 330, ../compass/sass/app.scss */
  .menu-profil-name {
    float: left;
    font-weight: bold;
    display: inline;
  }

  /*-----------------------*\
    $view
  /*-----------------------*/
  /* line 340, ../compass/sass/app.scss */
  .view {
    top: 0;
  }
}
