<div ng-controller="PlaceDetailCtrl">
	<div class="slideshow" ng-class="'slideshow ' + slideshowSize">
		<div class="slideshow-item">
			<img src="img/skatepark.png" alt="skatepark"/>
		</div>
	</div>

	<div class="heading">
		<div class="badge">
			<span class="badge-rate">7.9</span>
		</div>
		<div class="rating">
			<span class="icon-star"></span>
			<span class="icon-star"></span>
			<span class="icon-star"></span>
			<span class="icon-star-empty"></span>
			<span class="icon-star-empty"></span>
		</div>
		<div class="liking">
			<span class="glyphicon glyphicon-heart"></span>
		</div>

		<div class="checking">
			<span class="glyphicon glyphicon-ok"></span>
		</div>

	</div>

	<div class="scrolly" scrolly>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
		<p>Post</p>
	</div>
</div>